<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Profile - MyCIRCLE</title>
    <link rel="stylesheet" href="/static/fontawesome/css/all.css">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/styles.css">
<style>
      
</style>
</head>
<body>
  <header>
  <nav class="nav-bar container d-flex align-items-center justify-content-between py-3">
    <div class="d-flex align-items-center gap-2">
      <img src="/static/image/circle logo.jpg" alt="brand logo" width="40" height="40">
      <h1 class="h4 mb-0">MyCIRCLE</h1>
    </div>
    <div class="admin_nav d-flex align-items-center gap-3">
    <a href="{{ url_for('notifications') }}" class="text-decoration-none">
    <div><i class="fa-solid fa-bell"></i></div>
    </a>
    <a href="{{ url_for('user_profile') }}" class="text-decoration-none">
      <h5 class="admin_profile mb-0 ms-5">
       {{ session['useronline'] }} <i class="fa-solid fa-circle-user"></i>
      </h5>
    </a>
    <a href="{{ url_for('user_logout') }}" class="btn btn-outline-primary btn-sm">Logout</a>
</div>

  </nav>
</header>



<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="my-5">Page not found</h1>
        </div>
    </div>
</div>
<footer class="border-top py-3 text-center text-muted small">
  <p class="mb-1" style="font-size:1.1rem;"><em>&copy; Wakadobe Labs. All rights reserved.</em></p>
</footer>
    
</body>
</html>